{% extends 'base.html' %}
{% load staticfiles %}


{% block navbar %}
    <a href="{% url 'home' %}" class="brand-logo">BytePad</a>
{% endblock %}


{% block content %}
    <div class="row margin">
        <div class="col m12 card-panel hoverable " id="search-form-div">
            <br>
            <form method="post" id="attendance-form">
                {% csrf_token %}
                <div class="input-field">
                    {{ form.name.errors }}
                    <i class="material-icons prefix">search</i>
                    {{ form.name }}
                    <label class="label-icon" for={{ form.subject.id_for_label }}></label>
                </div>
{#                <div class="input-field col s6">#}
{#                    #}
{#                    <input id="icon_prefix" type="text" class="validate">#}
{#                    <label for="icon_prefix">First Name</label>#}
{#                </div>#}
                <div class="center">
                    <button class="btn waves-effect waves-light blue " type="submit"
                            name="action"><i class="material-icons right">search</i>
                        Search
                    </button>
                </div>

            </form>
        </div>
    </div>
    <div class="row center">
        <a target="_blank" href="https://play.google.com/store/apps/details?id=in.silive.bo"><img
                src="{% static "image/googleplay.svg" %}" class="google-store">
        </a>
        <img src="{% static "image/apple.svg" %}" class="app-store">
    </div>
{% endblock %}