{% extends 'base.html' %}
{% load staticfiles %}


{% block navbar %}
    <a href="{% url 'home' %}" class="brand-logo">BytePad</a>
{% endblock %}


{% block content %}
    <div class="row margin">
        <div class="col m12 card-panel hoverable " id="search-form-div">
            <br>
            <form method="post" id="attendance-form">
                {% csrf_token %}
                <div class="input-field">
                    {{ form.name.errors }}
                    {{ form.name }}
                    <label class="label-icon" for={{ form.subject.id_for_label }}><i
                            class="material-icons">search</i></label>
                </div>
                <div class="center">
                    <button class="btn waves-effect waves-light blue " type="submit"
                            name="action"><i class="material-icons right">search</i>
                        Search
                    </button>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <a target="_blank" href="https://play.google.com/store/apps/details?id=in.silive.bo"><img
                src="{% static "image/googleplay.svg" %}">
        </a>
        <img src="{% static "image/apple.svg" %}">
    </div>
{% endblock %}